/*  * {
  border: 1px solid black;
}
 */

body {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; /* I want an easy way to stretch everything across vertically */
  font-family: Roboto, Helvetica, Cochin;
  border: 0px;
  margin: 0px;
}

.dark-blue-container { /* This is what we'll call the top */
  background-color: #1F2937; /* It exists to spread the background color */
}

.dark-blue-stuff { /* Better programmers are calling this the 'section' */
  display: flex; 
  flex-direction: column; /* Column makes sense since we're already that direction in the body */
  align-items: center; /* Put everything in the middle */
  padding-top: 36px; /* Spacing for header */
  padding-bottom: 56px; /* Spacing for below */
}

header {
  color: #F9FAF8;
  font-size: 24px;
  padding-bottom: 60px; /* Space out stuff below */
  display: flex;
  gap: 289.35px; 
  /* I had to use gap to "justify: space-between" both sides of the header. If I 
  padded the sides of the parent container, when I stretch the webpage width-wise, 
  it would just move everything to make a big space in the middle. Using gap keeps 
  everything nice but I can't easily make it pixel perfect or guarantee it doesn't break.

  I laborously made it even to the box below by inspect elementing both containers and doing the math
  
  I'm guessing there is a way to use the word "center" in a more advanced fashion.
  It doesn't seem smart to spend more hours thinking about it until I come back smarter. */
}

.logo-text {
  font-weight: bold;
}

img {
max-height: 350px;
max-width: 900px;
border-radius: 8px;
}

a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
  text-decoration-line: none;
  padding-left: 20px; /* Padding left only starts after the first item so it's the easy way to add space */
}

.signup-container {
  background-color: #1F2937;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between; 
  gap: 50px; 
}

.signup-text {
  max-width: 500px;
}

h3 {
  color: #d7d8da;
}

h2 {
  color: #1F2937;
  font-weight: bolder;
  font-size: 36px;
  margin: 30px;
}

#button-one {
  background-color: #3882F6;
  border-color: #3882F6;
  border-radius: 4px;
  color: white;
  padding: 10px 48px;
  font-weight: bold;
  font-size: large;
}

#button-two {
  background-color: #3882F6;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  padding: 10px 28px;
  font-weight: bold;
  font-size: large;
}

#button-two:active {
  background-color: rgb(255, 232, 169);
  border-color: #3882F6;
}

.flavor.container {
  display: flex;
  flex-direction: column; /* There are two items: the header and then the box with the boxes and text below */
  justify-content: center; /* Middle axis */
  align-items: center; /* Middle of this container */
  background-color: rgb(255, 232, 169);
  padding-bottom: 48px; /* Space out bottom with same value as header (top-most-item) margin  */
}

.big-box {
  display: flex; /* These four items in a row */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 72px;
}

.box-content{
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 180px;
  flex-wrap: wrap;
}

.box-picture {
  min-height: 140px;
  min-width: 140px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.box-content:nth-child(1) .box-picture {
  background-color: pink;
}

.box-content:nth-child(2) .box-picture {
  background-color: lightgreen;
}

.box-content:nth-child(3) .box-picture {
  background-color: white;
}

.box-content:nth-child(4) .box-picture {
  background-color: rgb(255, 189, 102);
}

p {
  text-align: center
}

.quote.container {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 48px;
}

.quote-wrapper { /* WRAPPER makes sense */
  max-width: 120ch; /* Just reading about what "ch" units are makes my eyes glaze over */
}

.thor-text {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  padding-bottom: 5px;
}

.thor {
  display: flex;
  justify-content: flex-end;
  color: #1F2937; /* Same as <h2> maybe I could have just used it somehow */
  font-weight: bolder;
  font-size: 36px;
}

.cta.container {
  background-color: rgb(215, 234, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 60px;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #3882F6;
  padding: 36px 64px;
  color: white;
  border-radius: 8px;
}

.cta-top-text {
  font-weight: bold;
  font-size: 28px;
}


.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
}
















